global
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend http_in
    bind *:80
    acl host_frontend hdr(host) -i browser.example.com
    acl host_api hdr(host) -i api.example.com

    use_backend frontend if host_frontend
    use_backend api if host_api
    default_backend frontend

backend frontend
    server frontend frontend:80 check

backend api
    option http-server-close
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header X-Forwarded-Host %[req.hdr(host)]
    acl is_websocket hdr(Upgrade) -i WebSocket
    http-request set-header Connection upgrade if is_websocket
    server api api:8000 check
